* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html,button, input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

:root {
    --blue-100:     rgba(137,197,204,1.0);
    --blue-700:     rgba(31,21,52,1.0);
    --gray-100:     rgba(125,121,135,1.0);
    --green-200:    rgba(105,185,157,1.0);

    --white: rgba(255,255,255,1.0);
    --black: rgba(0,0,0,1.0);
}

button {
    cursor: pointer;
    border: none;
}
.container {
    max-width: 1008px;
    margin: 0 auto;
    padding: 0 1.25rem;

    @media(min-width: 768px){
        padding: 0 ;
    }
}

a {
    text-decoration: none;
    color: inherit
}

.show {
    overflow: hidden;
}